*{
  // all: unset;
  font-family: feather;
  font-family: Iosevka;
  // border: 1px solid red;
}

.main {
  border: 5px solid #313244;
  border-radius: 15px;
  box-shadow: inset 0 0 8 1px #11111b;
  background-color: #11111b;

  padding: 10px;
}

.profile-box {
  padding: 5px;
}

.profile-image {
  border-radius: 15px;
  min-width: 75px;
  min-height: 75px;
  background-size: 75px;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-title {
  font-size: 24px;
}

.power-button {
  font-size: 20px;
  margin: 8px 0px 8px 30px;
  min-width: 40px;
  min-height: 40px;
  // padding: 5px;
  border-radius: 100%;
  background-color: #1E1E2E;
}

.notif-box {
  background-color: #1E1E2E;
  border-radius: 15px;
  padding: 10px;
}

.notif-panel-title {
  font-size: 16px;
  // text-align: left;
}

.vb-box {
  background-color: #1E1E2E;
  border-radius: 15px;
  padding: 10px;
}

.wifi-box {
  border-radius: 100px;
}

.wifi-button {
  font-size: 20px;
  border-radius: 100px 0px 0px 100px;
  padding: 0px 17px 0px 13px;
}

.wifi-button-on {
  background-color: #B4BEFE;
  color: #1E1E2E;
}

.wifi-button-off {
  background-color: #1E1E2E;
  color: #CDD6F4;
}

.wifi-arrow-button {
  font-size: 20px;
  border-radius: 0px 100px 100px 0px;
  padding: 0px 15px 0px 15px;
}

.bluetooth-button {
  font-size: 20px;
  border-radius: 100px 0px 0px 100px;
  padding: 0px 15px 0px 15px;
}

.bluetooth-button-on {
  background-color: #B4BEFE;
  color: #1E1E2E;
}

.bluetooth-button-off {
  background-color: #1E1E2E;
  color: #CDD6F4;
}

.bluetooth-arrow-button {
  font-size: 20px;
  border-radius: 0px 100px 100px 0px;
  padding: 0px 15px 0px 15px;
}

.separator {
  all: unset;
  font-size: 2px;
}

.music-box {
  background-color: #1E1E2E;
  border-radius: 15px;
  padding: 10px;
}

.music-info {
  padding: 5px;
}

.song-name {
  font-weight: bold;
  font-size: 16px;
}

.album-cover {
  border-radius: 15px;
  min-width: 75px;
  min-height: 75px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.media-button {
  font-size: 20px;
  background-color: #1E1E2E;
  border-radius: 100%;
}
